@model IQueryable<FoodAndGo.Data.Food>
@{
    ViewData["Title"] = "Index";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h3>Food List</h3><br />

    <table class="table table-bordered">
        <tr>
            <th>ID</th>
            <th>FOOD NAME</th>
            <th>CATEGORY NAME</th>
            <th>PRİCE</th>
            <th>STOCK</th>
            <th>DESC</th>
            <th>IMAGE URL</th>
            <th>DELETE</th>
            <th>UPDATE</th>
            <th>DETAİLS</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.FoodName</td>
                <td>@item.Category.CategoryName</td>
                <td>@item.Price</td>
                <td>@item.Stock</td>
                <td>@item.FoodDescp</td>
                <td>@item.ImageUrl</td>
                <td><a href="/Food/FoodDelete/@item.Id" class="btn btn-danger">Delete</a>
                <td><a href="#" class="btn btn-success">Update</a>
                <td><a href="#" class="btn btn-info">Details</a>

            </tr>
        }
    </table>
    <a href="~/Food/FoodAdd" class="btn btn-primary">New Food</a>
</body>
</html>